/* common shared style  */
body {
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    border-radius: 5px;
    background: #6ad8bd;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 34px;

}

/* nav realeted style  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.text-primary{
    color: rgb(108, 108, 235);

}
.nav-tittle{
    color: #181818;
font-size: 45px;
font-style: normal;
font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style-type: none;
    margin-right: 49px;
}

nav a {
    text-decoration: none;
    color: rgb(66, 55, 55);
}

/* header related style  */
.header{
    background: #faf2ea;
}

.banner{
    padding-left: 28px 29px 30px 140px;
    display: flex; 
    align-items: center;
}
.banner .profile-pic{
    width: 489px;
}