/* common shared style  */
body {
    font-family: 'Open Sans', sans-serif;
}
.btn-primary{
    border-radius: 5px;
    background: #6ad8bd;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 14px 34px;

}

/* nav realeted style  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.text-primary{
    color: rgb(190, 190, 228);

}
.nav-tittle{
    color: #181818;
font-size: 45px;
font-style: normal;
font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style-type: none;
    margin-right: 49px;
}

nav a {
    text-decoration: none;
    color: rgb(66, 55, 55);
}

/* header related style  */
.header{
    background: #faf2ea;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding-left: 28px 29px 0px 140px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 497px;
}
.banner .profile-pic{
    width: 489px;
}
.banner-greeting{
    font-size: 46px;
    color: #474746; 
    margin-bottom: 2px;
    
}
.banner-tittle{
    font-size: 60px;
    font-weight: 300;
    margin-top: 4px;
    margin-bottom: 19px;
    margin-left: 20px;
}
 .banner-dis{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 11px;
    margin-left: 13px;
 }
  
 /* main section  */
main{
    max-width: 1140px;
}



 /* about section  */

 .about{ 
    pad: 200px 150px;
    border-radius: 20px;
    background: #f3ede9;
    margin: 110px 90px;
 }
 .section-title{
     color:  #0a0a0a;
     text-align: center;
     font-size: 35px;
     font-weight: 300;

 }
 .section-des{
     color:  #757575;
     text-align: center;
     font-size: 18px;
 }
.about-info-continer{
    display: flex;
    justify-content: space-around;
} 
.about-info{
    text-align: center;
}
#what-i-do{
    padding: 30px 150px;
}